cd D:/portfolio/backend

python -m venv venv

.\venv\Scripts\activate

pip install django djangorestframework django-cors-headers google-generativeai mssql-django pdfplumber pypdf

python manage.py makemigrations

python manage.py migrate

python manage.py createsuperuser

python manage.py runserver

for API set in cmd
setx GEMINI_API_KEY "your_actual_gemini_api_key_here"
